:root{
    
    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-sm:90%;

    --transition:all 400ms ease;

}
html{
    scroll-behavior: smooth;
}

.container{
    width: var(--container-width-lg);
    margin:0 auto;
}

/*======+++++++++MEDIA QUERIES (MEDIUM DEVICES)++++===========*/

@media  screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }



    section{
        margin-top: 6rem;

    }
}
/*======+++++++++MEDIA QUERIES (SMALL DEVICES)++++===========*/

@media  screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
    }

    div.message__container{
        display: none;
        width: 100%;
        border: none;
        border-radius:2rem ;
    }

    div.sidebar__container{
       
        border: none;
    }
    
    section >h2 {
        margin-bottom: 2rem;
        
    }
}

